@import '../../scss/main';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

body {
  // background-color: #f00;
  // background-image: linear-gradient(to bottom, #31a2a0, #255655);
  // ;
  //background-image: linear-gradient(to bottom, #3dbcc8, #255655);
  //background-attachment: fixed;

  background-color: #eec57c;

}

#react-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  > main {
    padding-top: 116px;
    width: 100%;

    &.has-hero {
      padding-top: 56px; // @TODO magic number
    }
  }
}

.section {
  @include outer-container;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

button {
  @include typo-small;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 8px;
  padding-left: $grid-size * 4;
  padding-right: $grid-size * 4;
  padding-top: 8px;
  transition-duration: .2s;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #cd3c3d;
    color: #ebd85a;
  }
}
