@import '../../../../scss/main';

.button-panel {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc($section-margin-bottom - 16px);

  &:last-child {
    margin-bottom: -16px;
  }

  a {
    margin-bottom: $grid-size * 2;
    margin-right: $grid-size * 2;

    @media screen and (max-width: $break-grid) {
      margin-bottom: $grid-size;
    }

    &:last-child {
      // margin-bottom: 0;
      margin-right: 0;
    }
  }
}
