@import '../../../../scss/main';

.section {
  margin-bottom: $section-margin-bottom;

  &.no-margin {
    margin-bottom: 0;
  }

  @media screen and (max-width: $break-grid) {
    margin-bottom: $section-margin-bottom-mobile;
  }

  .column-container {
    .column {

      &.rot-left {
        transform: rotate(-.5deg);
      }

      &.rot-right {
        transform: rotate(.5deg);
      }

      @media screen and (max-width: $break-grid) {
        margin-bottom: $section-margin-bottom-mobile !important;
        margin-right: 0 !important;

        &:last-child {
          margin-bottom: 0 !important;
        }

        .module {
          margin-bottom: $section-margin-bottom-mobile !important;

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }

      display: flex;
      flex-direction: column;

      .module {
        background-color: rgba(255, 255, 255, .25);
        height: 100%;
        margin-bottom: $section-margin-bottom;
        padding: $grid-size * 2;

        &.no-margin {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }

        &.video,
        &.image {
          background-color: rgba(255, 255, 255, .25);
          padding: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .col-1 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(12, 4);
    }
  }

  .col-2 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(6, 4);
    }
  }

  .col-3 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(4, 4);
    }
  }

  .col-4 {
    @include space-horizontal($col-gutter);
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
    }

    .column {
      @include col(3, 4);
    }
  }
}
