@import '../../../../scss/main';

footer {
  background-color: #000; // inherit; // #cd3c3d;
  margin-top: $section-margin-bottom;
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;

  @media screen and (max-width: $break-grid) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .wysiwyg-module {
    text-shadow: 1px 1px #000;
  }

  .section {
    background-color: inherit;
  }

  .text {
    @include space-horizontal($col-gutter);
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 100px;

    @media screen and (max-width: $break-grid) {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    div {
      @include col(4, 12);
    }

    @media screen and (max-width: $break-grid) {
      div {
        margin-bottom: $section-margin-bottom-mobile;
        margin-right: 0 !important;
        width: 100% !important;
      }
    }
  }

  .logos {
    // @include space-horizontal($col-gutter);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin-bottom: 24px;
      margin-left: 40px;
      margin-right: 40px;
      max-width: 156px;

      @media screen and (max-width: $break-grid) {
        margin-left: 16px;
        margin-right: 16px;
      }

      picture {
        width: 100%;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
