@import '../../../../scss/main';

header {
  background-color: #cd3c3d;
  box-shadow: 0 .1rem .5rem .5rem rgba(0, 0, 0, .3);
  padding-bottom: $grid-size * 2;
  padding-top: $grid-size * 2;
  position: fixed;
  width: 100%;
  z-index: 10;

  .mobile-nav {
    background-color: #cd3c3d;
    box-shadow: 0 .1rem .5rem .5rem rgba(0, 0, 0, .3);
    display: none;
    margin-top: 40px;
    padding-bottom: 16px;
    padding-left: 16px;
    position: fixed;
    width: 100%;

    &.open {
      display: block;
    }

    a {
      @include typo-small;
      color: #ebd85a;
      display: block;
      margin-bottom: 10px;
    }
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    @media screen and (max-width: $break-grid) {
      height: 24px;
    }

    a {
      @include typo-small;
      color: #ebd85a;
      margin-bottom: 0;
      padding-left: $grid-size * 2;
      padding-right: $grid-size * 2;
      text-decoration: underline;

      &.burger {
        display: none;
      }

      @media screen and (max-width: $break-grid) {
        display: none;

        &.burger {
          display: block;
          font-size: 32px;
          left: 16px;
          padding: 0;
          position: absolute;
          text-decoration: none;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
